*.suo
.nuget/
*.nupkg
Nuception/obj/*
Nuception/bin/*
*.user
/_ReSharper.Nuception
/NuceptionEx/obj/*
/NuceptionEx/bin/*
/packages
/.vs/config/applicationhost.config
/Backup1
/.vs/Nuception/v15/Server/sqlite3
/Backup
/UpgradeLog.htm
/UpgradeLog2.htm
/.vs/Nuception/DesignTimeBuild
/Backup2
/UpgradeLog3.htm
/.vs
